{% extends 'layout.html' %}

{% block content %}
<div class="info">
<div class="left_side_text">
    <h1 style="text-align: center; margin-bottom: 15px">Привет!</h1>
    <p>Постоянно забываешь сделать что-то важное? Поздравить девушку с годовщиной?
    Полить цветы? Накормить кота? Или у тебя просто куча дел, которые ты не успеваешь запоминать? Мы поможем тебе!
    Наш ToDo менеджер отлично справляется с этим! Просто внеси все свои дела, и они останутся в памяти нашего сайта
    навечно! Для начала работы зарегистрируйтесь или авторизуйтесь у нас на сайте
    <div class="btn-s">
        <a class="button" href="{{ url_for('users.login') }}">Авторизация</a>
        <a class="button" href="{{ url_for('users.register') }}">Регистрация</a>
    </div>
</div>
<img src="{{ url_for('static', filename='pics/main.png') }}" alt="foto" width="600px">
</div>

{% endblock %}